#logo {
    max-width: 80px;
    height: auto;
  }
  
  body {
    background-image: url("képek/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  hr {
    border-color: #000;
    border-width: 2px;
  }
  
  #kapcsolat_2 {
    margin: auto;
    width: 60%;
    padding: 20px;
    text-align: center;
    color: #333;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.6); /* Háttér színt adhatunk */
    border-radius: 10px;
  }
  
  #kapcsolat {
    font-weight: bold;
    text-decoration: underline;
    color: #007bff;
  }
  
  html {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: #333;
  }
  .kiemeles{
    margin: auto;
    padding: 20px;
    text-align: center;
    color: #333;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.terkep{
    display: block;
    margin: auto;               
    max-width: 800px;
    width: 80%;
    height: 450px;    

}
body{
    text-align: justify;
  }
.map-container {
    width: 600px;
    height: 450px;      
}
  
  @media (max-width: 768px) {
    #logo {
      max-width: 50px;
    }
  
    .navbar-brand {
      font-size: 1.5rem;
    }
  
    #kapcsolat_2 {
      width: 80%;
      font-size: 1rem;
    }
  }
  