.kiemeles{
    margin: auto;
    padding: 20px;
    text-align: center;
    color: #333;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.5); /* Háttér színt adhatunk */
    border-radius: 10px;
}
.terkep{
    display: block;
    margin: auto;               
    max-width: 800px;
    width: 80%;
    height: 450px;    

}
body{
    text-align: justify;
  }
.map-container {
    width: 600px;
    height: 450px;      
}
